*{
  font-family: 'Open Sans', sans-serif;
}
.logoItems{
  display: flex;
  align-items: center;
  padding: 1em 5em;
  box-shadow: rgb(202, 218, 236) 0px 20px 30px -10px;
}
.logo{
  width: 30px;
}
.headingImage{
  width: 230px;
  margin: 0 3em
}
.cardImage{
  width: 100px;
  height: 100px
}
h3{
  padding: 0 0.3em;
  font-size: 25px;
}
.date{
  float: right;
}
.topText {
  text-align: center;
  padding: 0.4em 0.4em;
  text-decoration : underline;
  background-color: rgb(202, 194, 194);
}
.middleNavbar {
  width: 21em;
  margin-left: 35em;
  height: 48px;
  border-radius: 20px;
  background-color: rgba(229, 225, 225, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.middleNavbar ul {
  list-style-type: none;
  display: flex;
  gap: 10px; 
}

 li {
  cursor: pointer;
}

 hr {
  border: 1px solid black;
  margin: 0; 
}

li{
  list-style: none;
}
ul{
  display: flex;
}
hr{
  margin-top: -0.5em;
  height: 2em;
  color: black;
  opacity: 0.3;
}