*{
  font-family: 'Open Sans', sans-serif;
}
.logoItems{
  display: flex;
  align-items: center;
  padding: 1em 5em;
  box-shadow: rgb(202, 218, 236) 0px 20px 30px -10px;
}
.logo{
  width: 30px;
}
.headingImage{
  width: 230px;
  margin: 0 3em
}
.cardImage{
  width: 100px;
  height: 100px
}
h3{
  padding: 0 0.3em;
  font-size: 25px;
}
.date{
  float: right;
}
.topText {
  text-align: center;
  padding: 0.4em 0.4em;
  text-decoration : underline;
  background-color: rgb(202, 194, 194);
}
.middleNavbar{
  width: 27em;
  margin-left: 34em;
  height: 48px;
  border-radius: 20px;
}
li{
  list-style: none;
}
ul{
  display: flex;
}
hr{
  margin-top: -1em;
  height: 2.6em;
  color: black;
}